
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    height: 55px;
    background: #D9E7C8;
}

#menu {
    margin: auto;
    width: 100%;
    min-height: 37px;
    background: #A7E160;
}

#winkelmandje {
    float: right;
    width: auto;
    min-width: 200px;
    min-height: 37px;
    background: #A7E160;
}

#center {
    padding: 20px;
    width: 70%;
    min-height: 300px;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    background: white;
}

.toevoegen a {
    display: block;

}

.text {
    color: #000;
    text-decoration: none;
    font: normal 12px Verdana;
}

.product {
    background-color: white;
    color: #4CAF50;
    width: 250px;
    height: 275px;
    float: left;
    padding: 1%;
    margin: 1%;
    border-radius: 5%;
    text-align: center;
    overflow: hidden;
}

.product img {
    width: auto;
    height: auto;
    max-height: 150px;
    border-radius: 10%;
}

.product button, .product a {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
    border-radius: 10%;
    font-size: 23px;
}

.product .plus {
    width: 50px;
    max-height: 50px;
    overflow: auto;
}

.product .min {
    width: 50px;
    height: 50px;
    overflow: auto;
}

.product button:hover {
    opacity: 1;
}

.shoppingcart_img {
    width: 50px;
}

.shoppingcart .overview .item .product_info .quantity_change img.plus {
    max-width: 50px;
    float: right;
}

.shoppingcart .overview .item .product_info .quantity_change img.min {
    max-width: 50px;

}

.shoppingcart .overview .item img.product_image {
    max-width: 50px;
    max-height: 50px;
    float: left;
}

.lol {
    width: 100% !important;
    height: auto;
    float: left;
    padding: 1%;
    margin: 1%;
    margin-right: 10%;
    border-radius: 5%;
    text-align: center;

}

.lol .half-left {
    float: left;
    width: 50%;
}

.lol .half-left img.tumbnail {
    max-width: 50px;
    max-height: 50px;
    float: left;
}

.lol .half-right {
    float: right;
    width: 50%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #66B032;
    color: white;
    text-align: center;
}

#koopknop {
    background-color: #66B032;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 25%;
}

.select select {
    font-family: 'Arial';
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 12px 30px;
    outline: 0;
    border: 1px solid #CCCCCC;
    border-radius: 0px;
    background: #ffffff;
    color: #a3a3a3;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select select::-ms-expand {
    display: none;
}

.select select:hover,
.select select:focus {
    color: #000000;
    background: #ffffff;
}

.select select:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.select_arrow {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 6px;
    height: 6px;
    border: solid #000000;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-color: #000000;
}

.select select:disabled ~ .select_arrow {
    border-top-color: #000000;
}