RewriteEngine on

RewriteRule ^([^/.]+)/?$ index.php?nav=$1
RewriteRule ^users/c/([^/.]+)/?$ index.php?nav=users&cid=$1 [L]
RewriteRule ^users/d/([^/.]+)/?$ index.php?nav=users&did=$1 [L]
RewriteRule ^users/s/([^/.]+)/?$ index.php?nav=users&sid=$1 [L]

RewriteRule ^suppliers/c/([^/.]+)/?$ index.php?nav=suppliers&cid=$1 [L]
RewriteRule ^suppliers/d/([^/.]+)/?$ index.php?nav=suppliers&did=$1 [L]
RewriteRule ^suppliers/s/([^/.]+)/?$ index.php?nav=suppliers&sid=$1 [L]

RewriteRule ^gebruikers/d/([^/.]+)/?$ index.php?nav=gebruikers&did=$1 [L]
RewriteRule ^gebruikers/s/([^/.]+)/?$ index.php?nav=gebruikers&sid=$1 [L]
RewriteRule ^gebruikers/c/([^/.]+)/?$ index.php?nav=gebruikers&sid=$1 [L]

RewriteRule ^producten/c/([^/.]+)/?$ index.php?nav=producten&cid=$1 [L]
RewriteRule ^producten/d/([^/.]+)/?$ index.php?nav=producten&did=$1 [L]
RewriteRule ^producten/s/([^/.]+)/?$ index.php?nav=producten&sid=$1 [L]

RewriteRule ^budget/s/([^/.]+)/?$ index.php?nav=budget&sid=$1 [L]

RewriteRule ^orders/c/([^/.]+)/?$ index.php?nav=orders&cid=$1 [L]
RewriteRule ^orders/d/([^/.]+)/?$ index.php?nav=orders&did=$1 [L]
RewriteRule ^orders/s/([^/.]+)/?$ index.php?nav=orders&sid=$1 [L]


RewriteRule ^auth/y/([^/.]+)/?$ index.php?nav=auth&yid=$1 [L]
RewriteRule ^auth/n/([^/.]+)/?$ index.php?nav=auth&nid=$1 [L]
RewriteRule ^auth/b/([^/.]+)/?$ index.php?nav=auth&bid=$1 [L]
RewriteRule ^auth/a/([^/.]+)/?$ index.php?nav=auth&aid=$1 [L]

RewriteRule ^auth/d/([^/.]+)/?$ index.php?nav=auth&did=$1 [L]
RewriteRule ^auth/l/([^/.]+)/?$ index.php?nav=auth&lid=$1 [L]

RewriteRule ^requests/s/([^/.]+)/?$ index.php?nav=requests&sid=$1 [L]
RewriteRule ^requests/r/([^/.]+)/?$ index.php?nav=requests&rid=$1 [L]








